html, body {
    width: 100%;
    height:100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.05em;
    line-height: 1.875;
    color: azure;
}
body {
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 7.5s ease;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.card-center {
    background-color: rgba(50, 58, 76, .75);
    border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
    padding: 50px;
}

p > a:link {
    color: azure;
    text-decoration: none;
    border-bottom: 1px solid azure;
    padding-bottom: 1px;
}

p > a:visited, a:hover, a:active {
    color: azure;
    text-decoration: none;
}

#separator {
    width: 90%;
    margin-left: 5%;
}

.social {
    padding-top: 30px;
}