html, body {
    width: 100%;
    height:100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.05em;
    line-height: 1.875;
    color: azure;
}
body {
    background: rgb(238,119,82);
    background: linear-gradient(317deg, rgba(238,119,82,0.65) 0%, rgba(35,166,213,0.7469362745098039) 100%);
}

.card-center {
    background-color: rgba(50, 58, 76, .75);
    border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
    padding: 50px;
}

p > a:link {
    color: azure;
    text-decoration: none;
    border-bottom: 1px solid azure;
    padding-bottom: 1px;
}

p > a:visited, a:hover, a:active {
    color: azure;
    text-decoration: none;
}

#separator {
    width: 90%;
    margin-left: 5%;
}

.social {
    padding-top: 30px;
}